    
* { /*Essa primeira estrutura é padrão para começar a trabalhar com o CSS.*/
margin: 0; 
padding: 0;
box-sizing: border-box;
text-decoration: none;}

body {
    background-color:hsl(30, 38%, 92%);
}

.left-side {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#imagem {
    border-radius: 10px;
}

#right-side-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#card { width: 800px; height: 600px}

#card #container { 
    display: flex;    
    width: 100%; 
    height: 100% 
}

#container .left-side { width: 50%; }

#container .left-side img { width: 100%; }

#container .right-side {width: 50%; }


/* Abaixo está a estrutura anteior onde usei o display: table, estou mantendo o código comentado para usar em uma futura manutenção caso precise, mas no momento decidi prosseguir com o projeto usando display: flex, o motivo maior é por ser mais adequado para este projeto em específico.




/* .corpo {
    width: 1440px;
    margin: auto;
}

.conteudo {
    display: table;
}

.imagem {
    display: table-cell;
    float: left;
    margin-left: auto;
}

.texto {
    display: table-cell;
    float: right;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: hsl(0, 0%, 100%);
}

.rodape { font-size: 11px; text-align: center; }
.rodape a { color: hsl(228, 45%, 44%); }
    
#corpo-perfume {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px, 700px;
} */